<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{~/css/player.css}"/>
    <script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/player.js}"></script>
    <title>Title</title>
</head>
<body>

<h1>Player - <span th:text="${session.user.name}"></span></h1>

<div class="container">
    <table id="table">

    </table>
</div>

</body>
</html>