.blue {
    background-image: url("../pictures/card/blue_boy.jpg");

}

.red {
    background-image: url("../pictures/card/red_boy.jpg");
}

.grey {
    background-image: url("../pictures/card/civil_girl.jpg");
}

.black {
    background-image: url("../pictures/card/black.jpg");
}

.card {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
td {
    margin: 300px;
    height: 150px;
}

table {
    height: 800px;
    width: 100%;
}