.card {
    height: 100%;
    width: 100%;
    background-image: url("../pictures/card/card.png");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blue {
    background-image: url("../pictures/card/blue_boy.jpg");

}

.red {
    background-image: url("../pictures/card/red_boy.jpg");
}

.grey {
    background-image: url("../pictures/card/civil_girl.jpg");
}

.black {
    background-image: url("../pictures/card/black.jpg");
}

.select {
    border: solid blue;
}

html, body {
    height: 100%;
    width: 100%;
}

div table {
    height: 800px;
    width: 100%;
}

td {
    margin: 300px;
    height: 150px;
}

.container {
    height: 100%;
}