<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/layout" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


<div layout:fragment="loginContent">
    <h1>Select Game</h1>
    <div th:if="${param.error}">
        Invalid Game Name
    </div>
    <div th:if="${param.logout}">
        Logout Successful
    </div>
    <form th:action="@{/enter}" method="post" >
        <input type="text" name="game-name" id="game-name"  required="true"/><br/>
        <button type="submit" value="Submit">Enter</button>
    </form>
    <br/>
</div>

</body>
</html>

