<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/layout" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


<div layout:fragment="loginContent">
    <h1>Select-Room</h1>
    <div th:if="${param.error}">
        Invalid Username or Password
    </div>
    <div th:if="${param.logout}">
        Logout Successful
    </div>
    <form th:action="@{/login}" method="post" >
        <input type="text" name="username" id="username"  required="true"/><br/>
        <input type="password" name="password" id="password"  required="true"/><br/>
        <button type="submit" value="Submit">Login</button>
    </form>
    <a th:href="@{/register}"><button>Registration</button></a>
    <br/>
</div>

</body>
</html>

