<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/jdbc" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Codenames</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" th:href="@{~/login/images/icons/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{~/css/queue.css}"/>
    <link rel="stylesheet" th:href="@{~/css/table-dark.css}"/>
    <script type="text/javascript" th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/websocket/queue.js}"></script>
</head>
<body>

<div class="container-queue100">
    <div class="container text-center boosters" th:object="${game}">
        <form th:action="@{/start}" method="post" th:if="${session.user.name eq 'Ödön'}">
            <button type="submit">Start</button>
        </form>
        <div class="index-content">
            <div id="pricing-table" class="clear content">
                <div class="plan" th:each="team : *{teams}">
                    <h3><img
                            th:src="${team.picture}"
                            class="img-circle">
                    </h3>
                    <h4 class="boss" th:if="${team.boss != null}"><span th:text="${'Boss: ' + team.boss.user.name + ' 🦄'}"></span></h4>
                    <ul class="player">
                        <li th:each="player: ${team.players}" th:text="${player.user.name}"></li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</div>
</body>


</html>