<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1>Select-Room</h1>
<div th:if="${param.error}">
    Invalid Username or Password
</div>
<div th:if="${param.logout}">
    Logout Successful
</div>
<form th:action="@{/register}" th:object="${userAccount}" method="post">
    <input type="text" name="username" id="username" th:field="*{name}" required="true"/><br/>
    <input type="password" name="password" id="password" th:field="*{password}" required="true"/><br/>
    <button type="submit" value="submit">Registration</button>
</form>
<br/>


</body>
</html>

